/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
.u-center {
  margin: 0 auto;
}
.u-center-table {
    display: table;
    @extend .u-center;
}
.u-left {
  text-align: left;
}
.u-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}

h2::selection, p::selection {
  background: $line-color;
  color: $bg-color;
}

h1 a::selection {
  -webkit-text-stroke: 3px white;
  background: transparent;
  color: transparent;
}
